.mdl-layout__header {
  background-color: #fff;
  height: 6em;
  margin-bottom: 2em;
}
.mdl-layout__header-row {
  height: 100%;
  nav.mdl-navigation {
    height: 100%;
    a.mdl-navigation__link {
      line-height: 6em;
    }
  }
}
nav.mdl-navigation {
  height: 100%;
}
.sm-screen-logo {
  text-align: center;
}
.page-content {
  max-width: 95%;
  margin: auto;
}
.content-col {
  .card-wide {
    width: 90%;
    padding: 1em;
    margin: auto;
  }
  .mdl-card__title, .mdl-card__subtitle {
    padding: 0;
  }
  .mdl-card__title-text {
    font-weight: 500;
    font-size: 2em;
    color: $lease-labs-blue;
  }
  .mdl-card__subtitle-text {
    font-weight: 400;
    font-size: 1.5em;
    font-style: italic;
    padding: 0 .5em;
  }
  .mdl-card__media {
    padding: 1em;
    background-color: white;
    min-height:250px;
    .img-overflow {
      border: 3px solid rgb(0, 167, 224);
      position: relative;
      overflow: hidden;
      width: 100%;
      margin: 5px;
      img {
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
      }
    }
  }
}
