.mdl-layout__header {
  margin-bottom: 3em;
  background-color: #fff;
}
.mdl-grid {
}
.left-col {
  span.mdl-chip {
    width: 80%;
  }
}
.content-col {
  .card-wide {
    width: 80%;
    padding: 1em;
    margin: auto;
  }
  .mdl-card__title, .mdl-card__subtitle {
    padding: 0;
  }
  .mdl-card__title-text {
    font-weight: 500;
    font-size: 2em;
    color: rgb(0, 167, 224);
  }
  .mdl-card__subtitle-text {
    font-weight: 400;
    font-size: 1.5em;
    font-style: italic;
    padding: 0 .5em;
  }
  .mdl-card__media {
    padding: 2em;
    background-color: white;
    .img-overflow {
      // width: 30%;
      // height: auto;
      overflow: auto;
    }
    img {
      flex-shrink: 1;
      padding: 1em;
    }
  }
}
