.mdl-layout__header {
  margin-bottom: 3em;
  background-color: #fff;
}

.mdl-grid {
}
.left-col {
  span.mdl-chip {
    width: 80%;
  }
}
.mdl-list__item-icon {
  font-size: 10px !important;
}
.content-col {
  .mdl-card {
    // padding: 2em;
  }
  .card-wide {
    width: 100%;
  }
  .mdl-card__media {
    padding: 2em;
    background-color: white;
    img {
      padding: 1em;
    }
  }
}
