


// Top nav parallelogram bkg
.polygon {
  // width: 100%;
  text-align: center;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  // padding: 20px 0 20px 0 !important;

  a.active-link {
    color: white;
    background-color: rgb(0, 167, 224);
  }
}

.bullet-list li {
  list-style: circle !important;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
