/* Main CSS File */
html {
  font: normal normal normal 1rem/1.5 Helvetica Neue, Helvetica, Arial, sans-serif; }

.vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.mdl-layout__header {
  background-color: #fff; }

.left-col span.mdl-chip {
  width: 80%; }

.content-col .card-wide {
  width: 90%;
  padding: 1em;
  margin: auto; }

.content-col .mdl-card__title, .content-col .mdl-card__subtitle {
  padding: 0; }

.content-col .mdl-card__title-text {
  font-weight: 500;
  font-size: 2em;
  color: #00a7e0; }

.content-col .mdl-card__subtitle-text {
  font-weight: 400;
  font-size: 1.5em;
  font-style: italic;
  padding: 0 .5em; }

.content-col .mdl-card__media {
  padding: 1em;
  background-color: white;
  min-height: 200px; }
  .content-col .mdl-card__media .img-overflow {
    border: 3px solid #00a7e0;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 5px; }
    .content-col .mdl-card__media .img-overflow img {
      position: absolute;
      top: -9999px;
      bottom: -9999px;
      left: -9999px;
      right: -9999px;
      margin: auto; }

a:hover {
  color: #22b3e4 !important; }

.polygon {
  text-align: center;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); }
  .polygon a.active-link {
    color: white;
    background-color: #00a7e0; }

.left-sidebar.subnav {
  background-color: #e6e6e6;
  border-radius: .5em; }
  .left-sidebar.subnav h6 {
    padding: 5%; }

aside {
  display: inline-block;
  width: 200px;
  box-sizing: border-box;
  padding: 24px 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: 1; }

.bullet-list li i.material-icons {
  font-size: 10px;
  color: #00a7e0;
  padding: 0 5px; }

.card-titles {
  padding: 16px; }

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
