/* Main CSS File */
html {
  font: normal normal normal 1rem/1.5 Helvetica Neue, Helvetica, Arial, sans-serif; }

.vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.mdl-layout__header {
  margin-bottom: 3em;
  background-color: #fff; }

.left-col span.mdl-chip {
  width: 80%; }

.content-col .card-wide {
  width: 90%;
  padding: 1em;
  margin: auto; }

.content-col .mdl-card__title, .content-col .mdl-card__subtitle {
  padding: 0; }

.content-col .mdl-card__title-text {
  font-weight: 500;
  font-size: 2em;
  color: #00a7e0; }

.content-col .mdl-card__subtitle-text {
  font-weight: 400;
  font-size: 1.5em;
  font-style: italic;
  padding: 0 .5em; }

.content-col .mdl-card__media {
  padding: 1em;
  background-color: white; }
  .content-col .mdl-card__media .img-overflow {
    overflow: auto; }
  .content-col .mdl-card__media img {
    margin: 1em;
    border: 1px solid #00a7e0; }

.polygon {
  text-align: center;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); }
  .polygon a.active-link {
    color: white;
    background-color: #00a7e0; }

.left-sidebar.subnav {
  background-color: #e6e6e6;
  border-radius: .5em; }
  .left-sidebar.subnav h6 {
    padding: 5%; }

.bullet-list li i.material-icons {
  font-size: 10px;
  color: #00a7e0;
  padding: 0 5px; }

.card-titles {
  padding: 16px; }

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
