.polygon {
  text-align: center;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); }
  .polygon a.active-link {
    color: white;
    background-color: #00a7e0; }

.left-sidebar.subnav {
  background-color: #e6e6e6;
  border-radius: .5em; }
  .left-sidebar.subnav h6 {
    padding: 5%; }

.bullet-list li i.material-icons {
  font-size: 10px;
  color: #00a7e0;
  padding: 0 5px; }

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
